<template>
  <div class="<%= data.lowername %>">
  </div>
</template>

<script>
  export default {
    name: '<%= data.name %>',
    props: {
      msg: String
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.<%= data.lowername %>
</style>